__pycache__/
.env
scripts/__pycache__/
scripts/__pycache__/__init__.cpython-312.pyc
venv//*
venv/
.hintrc
tailwind.config.js
venv/pyvenv.cfg
venv/Lib/
.env
backend/utils/gccd-data-embeddings.py
dataset/
dataset/*
